.button {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--button-font);
  outline: 2px solid var(--button-enabled-background-color);
}

.button.disabled {
  background-color: var(--button-disabled-background-color);
  color: var(--button-disabled-font-color);
  animation: buttonOff .2s ease-out;
  box-shadow: 0 13px 10px -8px rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid var(--button-enabled-background-color);
}

.button.enabled {
  background-color: var(--button-disabled-background-color);
  color: var(--button-disabled-font-color);
  animation: buttonOn .2s ease-out;
  box-shadow: 0 10px 10px -8px var(--accent);
  border-bottom: 2px solid var(--accent);
}

/* .button.no-animation.disabled {
  animation: none;
  border-bottom: 0;
  font-size: 14px;
}

.button.no-animation.enabled {
  animation: none;
  border-bottom: 0;
  font-size: 14px;
} */

@keyframes buttonOn {
  0% {
    border-bottom: 5px solid var(--button-enabled-background-color);
  }

  100% {
    border-bottom: 2px solid var(--accent);
  }
}

@keyframes buttonOff {
  0% {
    border-bottom: 2px solid var(--button-enabled-background-color);
  }

  100% {
    border-bottom: 5px solid var(--button-enabled-background-color);
  }
}