.button {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--button-font);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.button.disabled {
  background-color: var(--button-disabled-background-color);
  color: var(--button-disabled-font-color);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.button.enabled {
  background-color: var(--button-enabled-background-color);
  color: var(--button-enabled-font-color);
  animation: shadow .20s ease-out;
  box-shadow: 0 13px 10px -8px var(--shadow-color);
  border-bottom: 5px solid var(--accent);
}

@keyframes shadow {
  0% {
    box-shadow: 0 13px 10px -8px var(--shadow-color);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 10px 10px -8px var(--shadow-color);
    transform: scale(.96);
  }

  100% {
    box-shadow: 0 13px 10px -8px var(--shadow-color);
    transform: scale(1);
  }
}