.speed-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}

.speed-buttons {
  display: flex;
  gap: 10px;
}

.speed-controls.enabled {
  opacity: 1;
  animation: reveal .2s ease-in;
}

.speed-controls.disabled {
  opacity: 0;
  animation: disappear .2s ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}