.display {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.display>div {
  flex-shrink: 1;
  width: 5rem;
  height: 5rem;
  background-color: var(--display-background-color);
  color: var(--display-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.display>div:last-child {
  animation-name: bgcolor;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.display-item{
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--display-item-font);
}

.display-label {
  font-size: 11px;
  opacity: .7;
  font-weight: normal;
  font-family: var(--display-label-font);
}

@keyframes bgcolor {
  0% {
    background-color: var(--display-background-color);
  }

  50% {
    background-color: var(--display-background-color-bright);
  }

  100% {
    background-color: var(--display-background-color);
  }
}