.display {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  gap: 10px;
}

.display>div {
  flex-shrink: 1;
  width: 5rem;
  height: 5rem;
  background-color: #d59029;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.display>div:last-child {
  animation-name: bgcolor;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.display-label {
  font-size: 11px;
  opacity: .7;
}

@keyframes bgcolor {
  0% {
    background-color: #d59029
  }

  50% {
    background-color: #e4aa54
  }

  100% {
    background-color: #d59029
  }
}