.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 8px;
}

.display {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  gap: 10px;
}

.display>div {
  width: 80px;
  height: 80px;
  background-color: #d59029;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.display>div:last-child {
  animation-name: bgcolor;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 6px 10px -8px rgba(0, 0, 0, 0.75);
    transform: scale(.96);
  }

  100% {
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
    transform: scale(1);
  }
}

@keyframes bgcolor {
  0% {
    background-color: #d59029
  }

  50% {
    background-color: #e4aa54
  }

  100% {
    background-color: #d59029
  }
}

.button {
  border: 0;
  font-size: 16px;
  padding: 16px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.75);
}

.button.disabled {
  background-color: #fff;
  color: #000;
}

.button.enabled {
  background-color: #d59029;
  color: #fff;
  animation: shadow .20s ease-out;
}

.speed-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}

.speed-buttons {
  display: flex;
  gap: 10px;
}

.display-title {
  font-size: 11px;
  opacity: .7;
}