.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.display{
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
    gap: 10px;
}

.display > div{
    width: 100px;
    height: 100px;
    background-color: #d59029;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}